<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="nl.madebymark.share"
        version="0.1.1">
    <name>Share</name>
    <description>Share</description>
        <repo>https://github.com/dlimkin/cordova-plugin-share</repo>
    <license>Apache 2.0</license>
    <keywords>share,facebook,twitter</keywords>
    
   <engines>
      <engine name="cordova" version=">=3.0.0" />
   </engines>
        
    <js-module src="www/share.js" name="Share">
        <clobbers target="window.navigator.share" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Share" >
                <param name="android-package" value="nl.madebymark.share.Share"/>
            </feature>
        </config-file>
            
        <source-file src="src/android/Share.java" target-dir="src/nl/madebymark/share" />
     </platform>
</plugin>
